
body{
    background-color: #ccffff;
}
#blue, #blue_1{
    color: #0000cc;
    font-family: Tahoma;
}
#blue, #blue_1_2{
    color: #3366ff;
    font-family: Tahoma;
}
#brown{
    color: #996633;
    font-family: Times;
}
#blue, #blue_1_2{
    color: #cc6600;
    font-family: Times;
}
