body{
    background: #fff2e3;
}

button{
    background: #ff6bfb;
    color: #fff;
    font-size: 18px;
    border-width: 0;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}